<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="SymbolBrowser">
		<size>284,296</size>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxTreeCtrl" name="ID_TREECTRL1" variable="m_TreeCtrl" member="yes">
					<image_list>&lt;none&gt;</image_list>
					<tree_items>
						<item>m_TreeCtrl</item>
						<item>&lt;none&gt;</item>
					</tree_items>
					<items_text>
						<item2>m_TreeCtrl</item2>
						<item2>&lt;none&gt;</item2>
					</items_text>
					<size>273,283</size>
					<style>wxTR_HIDE_ROOT|wxTR_DEFAULT_STYLE</style>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
